body {
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: linear-gradient(45deg, #004515, #000000);
    height: auto;
    outline: none;
}

.header {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
a.link-column {
    display: block; 
    text-decoration: none; 
    color: inherit; 
}
.conteiner {
    color: white;
    height: 70px;
    width: auto;
    border: 5px ridge #003410;
    background: #000000;
    border-radius: 5px;
    margin: 30px 20px 30px 20px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
   
}
.h-2{
    width: 200px;
    height: 80px;
   

}
.h-2 h1 {
   
    text-align: center;
    width: 200px;
    height: 80px; 
}

.h-1 {
    display: flex;
    align-items: center;
}

.two1, .two {
    text-align: center;
    width: 80px;
    background: #131313;
    border: 2px solid #003410;
    border-radius: 2px;
    margin: 0 30px;
    padding: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(168, 168, 168, 0.3); /* тінь */
}
.two1:hover{
    transform: scale(1.1);
}
 .two:hover{
    transform: scale(1.1);

}

.two0 {
    margin-left: 30px;
    padding: 25px;
    text-align: center;
    width: 100px;
    background: rgb(0, 0, 0);
    border: 2px solid #fff;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(168, 168, 168, 0.3); /* тінь */
}

.two0:hover {
    transform: scale(1.1);
    background: rgb(23, 23, 23);
}

main {
    margin-left: 50px;
    margin-right: 50px;
}

.text {
    color: #fff;
    width: 66%;
    height: 130px;
    display: flex;
    justify-self: center;
    background: #000;
    border: 5px ridge #003410;
    position: relative;
    padding: 30px;
}

.text h2 {
    text-align: center;
    position: absolute;
    left: 40%;
}

.text p {
    text-align: center;
    position: absolute;
    padding-top: 50px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0;
    gap: 30px;
}

.text1, .text2 {
    width: 40%; 
    height: 120px;
    min-height: 150px;
    color: #fff;
    background: #000;
    border: 5px ridge #003410;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.text1 h3, .text2 h3,
.text1 p, .text2 p {
    text-align: center;
    margin: 0;
}
footer{ 
    margin-top: 200px;
    background:  linear-gradient(45deg, #ffffff, #000000);
    color: #000;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
    height: 50px;
    text-align: center;
    padding-top: 50px;
}
